body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.navbar {
    background: rgb(2, 221, 53);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.logo {
    color: #fff;
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin: 0;
    position: relative;
    right: 250px;
    font-weight: bold;
    color: yellow;
}

.navlinks {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}
.navlinks li {
    margin: 0 1rem;
}

.navlinks li a:hover{
    background: rgba(5, 169, 219);
    border-radius: 50px;
}

.navlinks li a{
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.button {
    background: yellow;
    padding: 10px 20px;
    position: relative;
    top: 0;
    z-index: 999;
    justify-content: center;
    border-radius: 50px;
    display: flex;
    color:rgba(2, 221, 53, 0.845);
    text-decoration: none;
    font-weight: bold;
    left: 200px;
}

.button:hover {
    background: rgb(5, 169, 219);
    color: #fff;
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.hero {
    background: linear-gradient(rgb(2, 221, 53), rgba(86, 86, 86, 0.33)), url('../Images/vecteezy_charming-wooden-store-interior-with-natural-light-and_73069336.jpg');
    height: 100vh;
    image-size: cover;
    background-size: cover;
    margin-top: 0px;
    padding-top: 100px;
    padding-left: 50px;
}

#sub1 {
    font-size: 1.25rem;
    color: #fff;
    margin-bottom: 20px;
    background: rgb(5, 169, 219);
    border-radius: 50px;
    display: inline-block;
    padding: 10px 20px;
}

.hero h1 {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 20px;
    font-weight: bold;
}

#sub2 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 20px;
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
    font-weight: bold;
}

.hero-buttons {
    display: flex;
    gap: 50px;
    padding: 20px;
    margin: 10px;
}